body {
    text-align: center;
    background: linear-gradient(#ff0000, #9c16f0, #00fffb, #3cff00, #fff200, #ff1100);
}

#character {
    width: 150px
}

#title {
    font-weight: 700;
    font-size: 70px;
}

.info {
    font-weight: 400;
    font-size: 25px;

    #imga {
        width: 300px;
    }
